name: ci

on: push

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: coursier/cache-action@v7
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libidn2-dev
      - name: Download dependencies
        run: |
          ./mill -i -j 1 __.prepareOffline
      - name: Check formatting
        run: |
          ./mill -i -j 1 mill.scalalib.scalafmt.ScalafmtModule/checkFormatAll __.sources
          ./mill -i -j 1 --meta-level 1 mill.scalalib.scalafmt.ScalafmtModule/checkFormatAll __.sources
      # - name: Check scalafix
      #   run: ./mill -i -j 1 __.fix --check
      - name: Compile
        run: ./mill -i -j 1 __.compile
      - name: Publish libraries locally
        run: ./mill -i -j 1 __.publishLocal
      - name: Run Unit Tests
        run: ./mill -i -j 1 snunit.test
      - name: Run Integration Tests
        run: ./mill -i -j 1 integration.test

  check-binary-compatibility:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Check Binary Compatibility
        run: ./mill -i -j 1 __.mimaReportBinaryIssues

  publish-sonatype:
    if: github.repository == 'lolgab/snunit' && contains(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-24.04
    env:
      SONATYPE_PGP_PRIVATE_KEY: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY }}
      SONATYPE_PGP_PRIVATE_KEY_PASSWORD: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY_PASSWORD }}
      SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      LANG: "en_US.UTF-8"
      LC_MESSAGES: "en_US.UTF-8"
      LC_ALL: "en_US.UTF-8"
    steps:
      - uses: actions/checkout@v5
      - uses: coursier/cache-action@v7
      - name: Publish to Maven Central
        run: |
          if [[ $(git tag --points-at HEAD) != '' ]]; then
            echo $SONATYPE_PGP_PRIVATE_KEY | base64 --decode > gpg_key
            gpg --import --no-tty --batch --yes gpg_key
            rm gpg_key
            ./mill -i -j 1 mill.scalalib.SonatypeCentralPublishModule/publishAll \
              --username "$SONATYPE_USER" \
              --password "$SONATYPE_PASSWORD" \
              --gpgArgs "--passphrase=$SONATYPE_PGP_PRIVATE_KEY_PASSWORD,--no-tty,--pinentry-mode,loopback,--batch,--yes,-a,-b" \
              --publishArtifacts __.publishArtifacts \
              --readTimeout  36000 \
              --awaitTimeout 36000 \
              --connectTimeout 36000 \
              --shouldRelease true
          fi
